<h1>Create new contest</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag( contests_path, method: "post") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Create a new contest!") %>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
