<h1>Create new contest</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= simple_form_for :contest, :url => '/contests' do |f| %>
    <%= f.input :creatorID %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :isOutdoor, as: :boolean %>
    <%= f.input :weather, as: :select, collection: @weather %>
    <%= f.input :contestEndDate, label_html: { class: '"input-append date"' }, label: "Contest end time" %>
    <%= f.input :price %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.button :submit, label: "create new contest" %>
<% end %>
  </tbody>
</table>
