<h1>Contest</h1>
<p id="title"><%= @contest["title"] %></p>
<p id="desc"><%= @contest["description"] %></p>
<p id="price"><%= @contest["price"] %></p>
<p id="end time"><%= @contest["contestEndDate"] %></p>
<p id="weather"><%= @contest["weather"] %></p>



