<h1>Contest</h1>
<p id="title">Title: <%= @contest["title"] %></p>
<p id="desc">Desc: <%= @contest["description"] %></p>
<p id="price">Prices: <%= @contest["price"] %></p>
<p id="end time">End Time: <%= @contest["contestEndDate"] %></p>
<p id="weather">Weather: <%= @contest["weather"] %></p>

<%= simple_form_for :contest, :url => '/contests/update' do |f| %>
    <%= f.input :contestID, as: :hidden %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :isOutdoor, as: :boolean %>
    <%= f.input :weather, as: :select, collection: @weather %>
    <%= f.input :contestEndDate, label_html: { class: '"input-append date"' }, label: "Contest end time" %>
    <%= f.input :price %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.button :submit, label: "create new contest" %>

  <% @submissions.each do |sub| %>
    <img src="<%= sub["mediaURL"] %>">
  <% end %>
<% end %>
