<h1>Contest</h1>
<p id="title">Title: <%= @contest["title"] %></p>
<p id="desc">Desc: <%= @contest["description"] %></p>
<p id="price">Prices: <%= @contest["price"] %></p>
<p id="end time">End Time: <%= @contest["contestEndDate"] %></p>
<p id="weather">Weather: <%= @contest["weather"] %></p>


  <% @submissions.each do |sub| %>
    <a href="/contests/update/<%=@contest["id"]%>?contestID=<%= sub["submissionID"]%>"><img src="<%= sub["mediaURL"] %>"></a>
  <% end %>

